PySpark Dataframe

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('dataframe practice').getOrCreate()

In [4]:
spark

Reading the dataset

In [47]:
#reading dataset
df_pyspark=spark.read.option('header','True').csv('test.csv',inferSchema='True')
df_pyspark.show()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

In [12]:
import pandas as pd
var=pd.read_csv('test.csv')
print(var)

    name  age
0    ram   25
1  shyam   32
2  mohan   36

Checking schema

In [15]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [24]:
df_pyspark=spark.read.csv('test.csv',inferSchema='true',header='True')
df_pyspark.show()
df_pyspark.printSchema()# checking types of columns of schema

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|  ram| 25|         5|
|shyam| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

types
dataframe is also a types of datastructures

In [25]:
print(type(df_pyspark))

<class 'pyspark.sql.dataframe.DataFrame'>

To get column name

In [28]:
df_pyspark.columns

['name', 'age', 'Experience']

To get head element from dataframe

In [30]:
df_pyspark.head(3)#return 3 rows from head

[Row(name='ram', age=25, Experience=5),
 Row(name='shyam', age=32, Experience=3),
 Row(name='mohan', age=36, Experience=8)]

to get tail rows from datsets

In [33]:
df_pyspark.tail(2)#return 3 rows from head

[Row(name='shyam', age=32, Experience=3),
 Row(name='mohan', age=36, Experience=8)]

To  get any perticular column

In [38]:
df_pyspark.select('name')

DataFrame[name: string]

In [35]:
df_pyspark.select('name').show()

+-----+
| name|
+-----+
|  ram|
|shyam|
|mohan|
+-----+

more than one column

In [41]:
df_pyspark.select(['name','experience'])

DataFrame[name: string, experience: int]

In [40]:
df_pyspark.select(['name','experience']).show()

+-----+----------+
| name|experience|
+-----+----------+
|  ram|         5|
|shyam|         3|
|mohan|         8|
+-----+----------+

To get data types

In [43]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('Experience', 'int')]

Describe to get info about dataframe

In [44]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string, Experience: string]

In [48]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary| name|               age|        Experience|
+-------+-----+------------------+------------------+
|  count|    3|                 3|                 3|
|   mean| NULL|              31.0| 5.333333333333333|
| stddev| NULL|5.5677643628300215|2.5166114784235836|
|    min|mohan|                25|                 3|
|    max|shyam|                36|                 8|
+-------+-----+------------------+------------------+