withShow() method

In [21]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('withcolumn method').getOrCreate()
spark

In [23]:
df=spark.read.csv('test5.csv',header=True,inferSchema=True)

df.show()
df.printSchema()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.
    
    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.
    
    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

To Change datatypes of columns

In [32]:
from pyspark.sql.functions import col,lit
#col is used to access columns of datframe, lit is used to assign  values to perticular columns
df=spark.read.csv('test5.csv',header=True,inferSchema=True)
df.show()
df.printSchema()
#changing data types of age column to string
# cast is used to change dataTypes
df2=df.withColumn(colName='age',col=df.age.cast('String')) # accesesing column without col method
df2.show()
df2.printSchema()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: integer (nullable = true)

In [33]:
df=spark.read.csv('test5.csv',header=True,inferSchema=True)
df.show()
df.printSchema()
#changing data types of age column to string
df2=df.withColumn(colName='age',col=col('age').cast('String')) # accesesing column with col method
df2.show()
df2.printSchema()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: integer (nullable = true)

To change data of exixting columns

In [35]:
df=spark.read.csv('test5.csv',header=True,inferSchema=True)
df.show()
df.printSchema()
#changing data  of existing columns age
df2=df.withColumn(colName='age',col=col('age')*2) # increasing age by 2 times
df2.show()
df2.printSchema()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 50|         5|
|  ram| 64|         3|
|mohan| 72|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [37]:
df=spark.read.csv('test5.csv',header=True,inferSchema=True)
df.show()
df.printSchema()
#changing data  of existing columns age
df2=df.withColumn('age',df.age*2) # increasing age by 2 times
df2.show()
df2.printSchema()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 50|         5|
|  ram| 64|         3|
|mohan| 72|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [38]:
df=spark.read.csv('test5.csv',header=True,inferSchema=True)
df.show()
df.printSchema()
#changing data  of existing columns age
df2=df.withColumn('age',col('age')*2) # increasing age by 2 times
df2.show()
df2.printSchema()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 50|         5|
|  ram| 64|         3|
|mohan| 72|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

Creatingh New columns with a fix value

In [40]:
df=spark.read.csv('test5.csv',header=True,inferSchema=True)
df.show()
df.printSchema()
#changing data  of existing columns age
df2=df.withColumn('Country',lit('India')) # increasing age by 2 times
df2.show()
df2.printSchema()

+-----+---+----------+
| name|age|Experience|
+-----+---+----------+
|shyam| 25|         5|
|  ram| 32|         3|
|mohan| 36|         8|
+-----+---+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

+-----+---+----------+-------+
| name|age|Experience|Country|
+-----+---+----------+-------+
|shyam| 25|         5|  India|
|  ram| 32|         3|  India|
|mohan| 36|         8|  India|
+-----+---+----------+-------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Country: string (nullable = false)

In [27]:
help(df.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumn('age2', df.age + 2).show()
    +---+-----+----+
    |age| name|age2|
    +---+-----+----+
    |  2|Alice|   4|
    |  5|  Bob|   7|
    +---+-----+----+