Intro to pyspark

In [2]:
import pyspark  # importinig pyspark library

In [57]:
import pandas as pd
var=pd.read_csv('test.csv')
print(var)
print(type(var))

    name  age
0    ram   25
1  shyam   32
2  mohan   36
<class 'pandas.core.frame.DataFrame'>

Creating spark session in order to work with spark

In [39]:
from pyspark.sql import SparkSession

In [41]:
spark=SparkSession.builder.appName('Practice').getOrCreate()# creating spark session

In [42]:
spark

In [49]:
df_pyspark=spark.read.csv('test.csv')

In [50]:
df_pyspark.show() # to show data

+-----+---+
|  _c0|_c1|
+-----+---+
| name|age|
|  ram| 25|
|shyam| 32|
|mohan| 36|
+-----+---+

In [54]:
df_pyspark=spark.read.option('header','True').csv('test.csv')# to choose first row as header

In [55]:
df_pyspark.show()

+-----+---+
| name|age|
+-----+---+
|  ram| 25|
|shyam| 32|
|mohan| 36|
+-----+---+

In [56]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [62]:
df_pyspark.head()

Row(name='ram', age='25')

In [60]:
df_pyspark.head(2)# we have to specify the no of rows

[Row(name='ram', age='25'), Row(name='shyam', age='32')]

In [65]:
#to get schema of dataframe
df_pyspark.schema

StructType([StructField('name', StringType(), True), StructField('age', StringType(), True)])

In [67]:
#to get schema of dataframe
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)