In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('alias desc asc cast and like functions ').getOrCreate()
spark

In [3]:
data={(1,'ram',2000),(2,'shyam',3000),(3,'mohan',5000)}
schema=['id','name',"salary"]
df=spark.createDataFrame(data,schema)
df.printSchema()
# df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [4]:
df2=df.select(df.id,df.name,df.salary)
df2.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

using alias:-provide alias to the column

In [6]:
from pyspark.sql.functions import*
df3=df.select(df.id.alias('emp_id'),df.name.alias('emp_name'),df.salary.alias('emp_salary'))#column name changed
df3.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- emp_salary: long (nullable = true)

asc() and desc():-sort column in ascending or descending order

In [9]:
data={(1,'ram','M',2000),(2,'shyam','F',3000),(3,'mohan',"F",5000)}
schema=['id','name','gender',"salary"]
df=spark.createDataFrame(data,schema)
df2=df.sort(df.name.desc())
df2=df.sort(df.name.asc())
df2.printSchema()

# df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

cast(:- used to convert the datatypes

In [8]:
data={(1,'ram',2000),(2,'shyam',3000),(3,'mohan',5000)}
schema=['id','name',"salary"]
df=spark.createDataFrame(data,schema)
df.printSchema()
# df2.printSchema()
df2=df.select(df.id,df.name,df.salary.cast('int')) # changing datatypes to int from long
df2.printSchema()

# df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

like():-filter data on the basis of given condition

In [9]:
data={(1,'ram',2000),(2,'shyam',3000),(3,'mohan',5000)}
schema=['id','name',"salary"]
df=spark.createDataFrame(data,schema)
df.printSchema()

df2=df.filter(df.name.like('r%')) # changing datatypes to int from long
df2.printSchema()

# df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [13]:
df2=df.filter(df.salary>200) # we use filter to filter data from dataframe
df2.printSchema()
# df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)