dstinct():- it is used to remove all duplicate value from data frame (all column) ,no argument is given



dropDuplicates():-  used to drop drop or remove row based on selected columns (one or multiple)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Distinct and dropDuplicate').getOrCreate()
spark

In [ ]:
from pyspark.sql.functions import *
data=[(1,'ram',2000),(2,'shyam',5000),(2,'shyam',5000),(3,'sohan',6000)]
schema=['id','name','salary']
df=spark.createDataFrame(data,schema)
df.printSchema()
df2=df.distinct()
df2.printSchema()
df3=df.dropDuplicates()
df3.printSchema()

In [ ]:
# df.distinct().count()# goives total disinct no of rows

In [ ]:
help(df.distinct)

In [ ]:
help(df.dropDuplicates)
help(df.distinct)