orderBy and sort :- it is used ot sort data in ascending or descending order based oon single or multiple column by default it sort in sacending order

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('orderby and sort function ').getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/20 18:59:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data=[(1,'Maheer','M',2000,'It'),(2,'Wafa','M',000,'Hr'),(3,'Asi','F',3000,'Payroll'),(4,'Tonny','M',3000,'Hr')]
schema=['id','name','gender','salary','dep']
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: string (nullable = true)

+---+------+------+------+-------+
| id|  name|gender|salary|    dep|
+---+------+------+------+-------+
|  1|Maheer|     M|  2000|     It|
|  2|  Wafa|     M|     0|     Hr|
|  3|   Asi|     F|  3000|Payroll|
|  4| Tonny|     M|  3000|     Hr|
+---+------+------+------+-------+

sorting dataframe on tye basis of one column by default it will be in ascending order

In [3]:
df2=df.sort('dep')


df2.printSchema()
df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: string (nullable = true)

+---+------+------+------+-------+
| id|  name|gender|salary|    dep|
+---+------+------+------+-------+
|  4| Tonny|     M|  3000|     Hr|
|  2|  Wafa|     M|     0|     Hr|
|  1|Maheer|     M|  2000|     It|
|  3|   Asi|     F|  3000|Payroll|
+---+------+------+------+-------+

In [4]:
df2=df.sort(df.dep.desc()) # in descending order for ascending order asc
df2=df.orderBy('dep')
df2.printSchema()
df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: string (nullable = true)

+---+------+------+------+-------+
| id|  name|gender|salary|    dep|
+---+------+------+------+-------+
|  4| Tonny|     M|  3000|     Hr|
|  2|  Wafa|     M|     0|     Hr|
|  1|Maheer|     M|  2000|     It|
|  3|   Asi|     F|  3000|Payroll|
+---+------+------+------+-------+

sorting on the basis of more than one column

In [5]:
df2=df.sort(df.dep,df.id) 
df2=df.orderBy(df.dep,df.id) 
df2=df.orderBy('dep','id')
df2.printSchema()
df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: string (nullable = true)

+---+------+------+------+-------+
| id|  name|gender|salary|    dep|
+---+------+------+------+-------+
|  2|  Wafa|     M|     0|     Hr|
|  4| Tonny|     M|  3000|     Hr|
|  1|Maheer|     M|  2000|     It|
|  3|   Asi|     F|  3000|Payroll|
+---+------+------+------+-------+

for descending order use desc() function inmpilicitely

In [15]:
df2=df.sort(df.dep,df.id.desc())  # here only id wil be desc but dep will be asc 
df2=df.orderBy(df.dep,df.id.desc()) 
# df2=df.orderBy('dep','id')
df2.printSchema()
df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: string (nullable = true)

+---+------+------+------+-------+
| id|  name|gender|salary|    dep|
+---+------+------+------+-------+
|  4| Tonny|     M|  3000|     Hr|
|  2|  Wafa|     M|     0|     Hr|
|  1|Maheer|     M|  2000|     It|
|  3|   Asi|     F|  3000|Payroll|
+---+------+------+------+-------+

In [16]:
df2=df.sort(df.dep.desc(),df.id.desc())  
df2=df.orderBy(df.dep.desc(),df.id.desc()) 
# df2=df.orderBy('dep','id')
df2.printSchema()
df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: string (nullable = true)

+---+------+------+------+-------+
| id|  name|gender|salary|    dep|
+---+------+------+------+-------+
|  3|   Asi|     F|  3000|Payroll|
|  1|Maheer|     M|  2000|     It|
|  4| Tonny|     M|  3000|     Hr|
|  2|  Wafa|     M|     0|     Hr|
+---+------+------+------+-------+