union and unionAll  transformation are used to merge two or more dataframe of same structure and schema,
it return the new datframe withh all rows from two datframe regardless of duplicate data i:e they do not remove duplicate rows

to remove duplicate can use distinct() function

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Union and unionAll').getOrCreate()
spark

In [5]:
data1=[(1,'Maheer',2000),(2,'Wafa',30000),(3,'Asi',3000),(4,'Tonny',3000)]
schema1=['id','name','salary']
df1=spark.createDataFrame(data1,schema1)
df1.printSchema()
# df1.show()

data2=[(5,'ram',5000),(6,'shyam',30000)]
schema2=['id','name','salary']
df2=spark.createDataFrame(data2,schema2)
df2.printSchema()
# df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

merging two dataframe

In [9]:
df3=df1.union(df2)
df3.printSchema()
# df3.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [8]:
# df3.distinct().show()

unionAll also work same as union

In [10]:
help(df1.union)

Help on method union in module pyspark.sql.dataframe:

union(other: 'DataFrame') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` containing the union of rows in this and another
    :class:`DataFrame`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Another :class:`DataFrame` that needs to be unioned.

    Returns
    -------
    :class:`DataFrame`
        A new :class:`DataFrame` containing the combined rows with corresponding columns.

    See Also
    --------
    DataFrame.unionAll

    Notes
    -----
    This method performs a SQL-style set union of the rows from both `DataFrame` objects,
    with no automatic deduplication of elements.

    Use the `distinct()` method to perform deduplication of rows.

    The method resolves columns by position (not by name), following the standard behavior
    in SQL.

    Examples
    --------
    Example 1: Combining two DataFrames with the same schema

    >>> df1 = spark.createDataFrame([(1, 'A'), (2, 'B')], ['id', 'value'])
    >>> df2 = spark.createDataFrame([(3, 'C'), (4, 'D')], ['id', 'value'])
    >>> df3 = df1.union(df2)
    >>> df3.show()
    +---+-----+
    | id|value|
    +---+-----+
    |  1|    A|
    |  2|    B|
    |  3|    C|
    |  4|    D|
    +---+-----+

    Example 2: Combining two DataFrames with different schemas

    >>> from pyspark.sql.functions import lit
    >>> df1 = spark.createDataFrame([("Alice", 1), ("Bob", 2)], ["name", "id"])
    >>> df2 = spark.createDataFrame([(3, "Charlie"), (4, "Dave")], ["id", "name"])
    >>> df1 = df1.withColumn("age", lit(30))
    >>> df2 = df2.withColumn("age", lit(40))
    >>> df3 = df1.union(df2)
    >>> df3.show()
    +-----+-------+---+
    | name|     id|age|
    +-----+-------+---+
    |Alice|      1| 30|
    |  Bob|      2| 30|
    |    3|Charlie| 40|
    |    4|   Dave| 40|
    +-----+-------+---+

    Example 3: Combining two DataFrames with mismatched columns

    >>> df1 = spark.createDataFrame([(1, 2)], ["A", "B"])
    >>> df2 = spark.createDataFrame([(3, 4)], ["C", "D"])
    >>> df3 = df1.union(df2)
    >>> df3.show()
    +---+---+
    |  A|  B|
    +---+---+
    |  1|  2|
    |  3|  4|
    +---+---+

    Example 4: Combining duplicate rows from two different DataFrames

    >>> df1 = spark.createDataFrame([(1, 'A'), (2, 'B'), (3, 'C')], ['id', 'value'])
    >>> df2 = spark.createDataFrame([(3, 'C'), (4, 'D')], ['id', 'value'])
    >>> df3 = df1.union(df2).distinct().sort("id")
    >>> df3.show()
    +---+-----+
    | id|value|
    +---+-----+
    |  1|    A|
    |  2|    B|
    |  3|    C|
    |  4|    D|
    +---+-----+

In [14]:
help(df1.unionAll)

Help on method unionAll in module pyspark.sql.dataframe:

unionAll(other: 'DataFrame') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` containing the union of rows in this and another
    :class:`DataFrame`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Another :class:`DataFrame` that needs to be combined

    Returns
    -------
    :class:`DataFrame`
        A new :class:`DataFrame` containing combined rows from both dataframes.

    Notes
    -----
    This method combines all rows from both `DataFrame` objects with no automatic
    deduplication of elements.

    Use the `distinct()` method to perform deduplication of rows.

    :func:`unionAll` is an alias to :func:`union`

    See Also
    --------
    DataFrame.union