Filter OPeration

In [16]:
import pyspark
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('Filter operation practice ').getOrCreate()
spark

In [28]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True,sep='\t')   #in case it takes \t use sep='\t'
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

#filter operation

In [29]:
#salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [31]:
#to select onlt one column as per condition
df_pyspark.filter("Salary<=20000").select('Name').show()

+-------+
|   Name|
+-------+
|  Sunny|
|   Paul|
| harsha|
|Shubham|
+-------+

In [32]:
#to select onlt multiple column aa per condition
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| harsha| 21|
|Shubham| 23|
+-------+---+

In [34]:
# another way of wrring filter function
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [35]:
# another way of wrring filter function
df_pyspark.filter(df_pyspark['Salary']<=20000).select('Name').show()

+-------+
|   Name|
+-------+
|  Sunny|
|   Paul|
| harsha|
|Shubham|
+-------+

In [36]:
# another way of wrring filter function
df_pyspark.filter(df_pyspark['Salary']<=20000).select(['Name','Age','Salary']).show()

+-------+---+------+
|   Name|Age|Salary|
+-------+---+------+
|  Sunny| 29| 20000|
|   Paul| 24| 20000|
| harsha| 21| 15000|
|Shubham| 23| 18000|
+-------+---+------+

In [45]:
#using multiple condition to fileter data

df_pyspark.filter((df_pyspark['Salary']<=20000 ) & (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [47]:
#using multiple condition to fileter data

df_pyspark.filter((df_pyspark['Salary']<=20000 ) & (df_pyspark['Salary']>=15000)).select(['Name','Salary']).show()

+-------+------+
|   Name|Salary|
+-------+------+
|  Sunny| 20000|
|   Paul| 20000|
| harsha| 15000|
|Shubham| 18000|
+-------+------+

In [50]:
#using multiple condition to fileter data

df_pyspark.filter((df_pyspark['Salary']<=20000 ) | (df_pyspark['Salary']>=15000)).select(['Name','Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 30000|
|Sudhanshu| 25000|
|    Sunny| 20000|
|     Paul| 20000|
|   harsha| 15000|
|  Shubham| 18000|
+---------+------+

In [53]:
#using ~ to select data other than givrn codtion
df_pyspark.filter(~(df_pyspark['Salary']>=20000)).show() # it will select all data whose salary is not more tha 20000

+-------+---+----------+------+
|   Name|age|experience|Salary|
+-------+---+----------+------+
| harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+