                                        GroupBy And Aggregate Functions

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName('GroupName').getOrCreate()
spark

In [20]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)
df_pyspark.show()
df_pyspark.printSchema()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data science| 10000|
|    Krish|         Iot|  5000|
|   mahesh|    Big data|  4000|
|    Krish|    Big data|  4000|
|   mahesh|Data science|  3000|
|Sudhanshu|Data science| 20000|
|Sudhanshu|         Iot| 10000|
|Sudhanshu|    Big data|  5000|
|    Sunny|Data science| 10000|
|    Sunny|    Big data|  2000|
+---------+------------+------+

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

groupBy

In [21]:
# Groupby

# grouped to find maximum salary
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [22]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   mahesh|       7000|
+---------+-----------+

In [29]:
df_pyspark.groupBy('Name').max().show() # to get maximum salary of perticular name

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   mahesh|       4000|
+---------+-----------+

In [31]:
df_pyspark.groupBy('Name').min().show() # to get minimum salary of perticular name

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   mahesh|       3000|
+---------+-----------+

In [32]:
df_pyspark.groupBy('Name').avg().show() # to get averrage salary of perticular name

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   mahesh|            3500.0|
+---------+------------------+

In [24]:
#Group by Departement which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         Iot|      15000|
|Data science|      43000|
|    Big data|      15000|
+------------+-----------+

In [25]:
#Group by Departement which gives mean salary
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         Iot|     7500.0|
|Data science|    10750.0|
|    Big data|     3750.0|
+------------+-----------+

In [26]:
#Group by Departement to count no of employee as per departement
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         Iot|    2|
|Data science|    4|
|    Big data|    4|
+------------+-----+

In [27]:
#Group by Departement which gives sum of  salary
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [ ]:
#Group by Departement which gives sum of  salary
df_pyspark.agg({'Salary':'sum'}).show()

Using multiple aggregate function  using functions library

In [40]:
from pyspark.sql import functions
df_pyspark.groupBy('Departments').agg(functions.min('Salary')).show()

+------------+-----------+
| Departments|min(Salary)|
+------------+-----------+
|         Iot|       5000|
|Data science|       3000|
|    Big data|       2000|
+------------+-----------+

In [44]:
from pyspark.sql import functions
df_pyspark.groupBy('Departments').agg(functions.min('Salary'),functions.max('Salary'),
                                functions.mean('Salary'),functions.avg('Salary'),
                                functions.count('Salary'),functions.sum('Salary' )).show()

+------------+-----------+-----------+-----------+-----------+-------------+-----------+
| Departments|min(Salary)|max(Salary)|avg(Salary)|avg(Salary)|count(Salary)|sum(Salary)|
+------------+-----------+-----------+-----------+-----------+-------------+-----------+
|         Iot|       5000|      10000|     7500.0|     7500.0|            2|      15000|
|Data science|       3000|      20000|    10750.0|    10750.0|            4|      43000|
|    Big data|       2000|       5000|     3750.0|     3750.0|            4|      15000|
+------------+-----------+-----------+-----------+-----------+-------------+-----------+

In [45]:
from pyspark.sql import functions
df_pyspark.groupBy('Name','Departments').agg(functions.min('Salary'),functions.max('Salary'),
                                functions.mean('Salary'),functions.avg('Salary'),
                                functions.count('Salary'),functions.sum('Salary' )).show()

+---------+------------+-----------+-----------+-----------+-----------+-------------+-----------+
|     Name| Departments|min(Salary)|max(Salary)|avg(Salary)|avg(Salary)|count(Salary)|sum(Salary)|
+---------+------------+-----------+-----------+-----------+-----------+-------------+-----------+
|   mahesh|Data science|       3000|       3000|     3000.0|     3000.0|            1|       3000|
|    Krish|Data science|      10000|      10000|    10000.0|    10000.0|            1|      10000|
|Sudhanshu|         Iot|      10000|      10000|    10000.0|    10000.0|            1|      10000|
|   mahesh|    Big data|       4000|       4000|     4000.0|     4000.0|            1|       4000|
|    Krish|         Iot|       5000|       5000|     5000.0|     5000.0|            1|       5000|
|    Sunny|Data science|      10000|      10000|    10000.0|    10000.0|            1|      10000|
|Sudhanshu|Data science|      20000|      20000|    20000.0|    20000.0|            1|      20000|
|    Krish|    Big data|       4000|       4000|     4000.0|     4000.0|            1|       4000|
|Sudhanshu|    Big data|       5000|       5000|     5000.0|     5000.0|            1|       5000|
|    Sunny|    Big data|       2000|       2000|     2000.0|     2000.0|            1|       2000|
+---------+------------+-----------+-----------+-----------+-----------+-------------+-----------+