Introduction To Pyspark Mlib

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Mlib').getOrCreate()
spark

In [8]:
training=spark.read.csv('test4.csv',header=True,inferSchema=True)
training.show()
training.printSchema()

+---------+---+----------+------+
|     Name|age|experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
training.columns

['Name', 'age', 'experience', 'Salary']